* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  background-color: black;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: antiquewhite;
}

.title {
  border: 2px solid orange;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 35px;
  display: block;
}

h1 {
  border: 2px solid yellow;
  padding: 2px;
  margin: 10px 1200px 10px auto;
}

nav {
  border: 2px solid lightgreen;
}

nav a {
  text-decoration: none;
}

main {
  border: 3px solid orange;
  width: 80%;
  margin: auto;
}
