* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: darkcyan;
}

header {
  background-color: black;
  padding: 30px;
  margin-bottom: 20px;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 40 40 white;
}

figure img {
  border-radius: 50%;
  box-shadow: 1px 1px 60px;
}

.title {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 35px;
  display: block;
}

h1 {
  border: 2px solid yellow;
  min-width: max-content;
  padding: 2px;
  margin: 10px 1200px 10px auto;
}

nav {
  margin-left: 50px;
  align-self: flex-end;
}
nav ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: antiquewhite;
  margin: 5px 15px;
  border-radius: 10pc;
  padding: 3px 10px;
  background-color: rgb(114, 97, 115, 0.5);
  box-shadow: 1px 1px 20px pink;
  border: 2px solid rgb(114, 97, 115, 1);
}

nav a:hover {
  color: black;
  background-color: pink;
}

main {
  border: 3px solid orange;
  background-color: rgb(255, 251, 251, 0.5);

  width: 80%;
  margin: auto;
}
